@inherits LayoutComponentBase
@inject LoginContainer loginContainer

<div class="page">
    @if (loginContainer.Logado == true)
    {
        <header>
            <div class="header">
            <a href="livros"><img src="/logo-branco.png" alt="logo" style="width:100px;"></a>
            <nav class="dp-menu">
                <ul>
                        <li>
                            <a href="livros">Livros <i class="fa-solid fa-caret-down"></i></a>
                        <ul>
                            <LivrosCategoria />
                        </ul>
                    </li>
                    @if (loginContainer.IsAdmin == false)
                    {
                        <li><a href="locacao">Locações</a></li>
                        <li><a href="favorito">Favoritos</a></li>
                    }
                    @if (loginContainer.IsAdmin == true)
                    {
                        <li><a href="alunos">Alunos</a></li>
                    }
                </ul>
            </nav>

            <button style="position:relative; bottom:20px;left: 20px;" @onclick="Logout" class="sair" title="Sair"><a href="/"><i class="fa-solid fa-right-from-bracket"></i></a></button>

            </div> 
        </header>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code{
    public NavigationManager? NavigationManager { get; set; }

    public void Logout()
    {
        loginContainer.Logado = false;
    } 
}