#locacoes {
    border-collapse: collapse;
    width: 100%;
}

    #locacoes td, #alunos th {
        border: 1px solid #ddd;
        padding: 5px;
    }

    #locacoes tr:hover {
        background-color: #ddd;
    }

    #locacoes tr:nth-child(even) {
        background-color: #E5E5E5;
    }

        #locacoes tr:nth-child(even):hover {
            background-color: #ddd;
        }

    #locacoes th {
        background-color: #464646;
        color: white;
    }

    #locacoes tr .remove {
        position: relative;
        left: 50px;
        top: 2px;
        height: 30px;
        width: 100px;
        background: rgba(0, 0, 0, 0.18);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.8px);
        -webkit-backdrop-filter: blur(7.8px);
        border: 1px solid rgba(0, 0, 0, 0.31);
    }

    #locacoes tr .remove {
        color: #464646;
    }

        #locacoes tr .remove:hover {
            transform: scale(1.1);
        }
